 @import "../css/resets";


// // set the resets
*, 
*:before, 
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//for debugging; activates on cmd+e

.debug-borders{
    border: 1px dashed purple;
}

body {
    font-size: 18px;
    background-color: #e5ecf0;
    font-family: 'Lato', sans-serif;
    line-height: 1.7em;
 
}

//GLOBAL VARIABLES====
//nav-bar height
//also used to set margins for 1st
//element after the nav.
$nav-height: 90px;
$refresh-btn-font-color: rgb(236, 122, 122);
$refresh-bar: white;
$main-theme: #47aae7;
$second-theme: #00a1f8;
$dark-theme: #29658a;
$off-black-theme: #14171a;
$twitter-them: #0597e6;


.flex {
    // margin-top: 100px;
    display: flex;
}

.nav, 
.parent-nav {
    width: 100%;
    display: flex;
    margin: 0px;
}


.parent-nav {
    
    position: fixed;
    // height: $nav-height;
    background-color: $dark-theme;
    justify-content: flex-start;
    z-index: 100;
    top: 0;
    // margin-bottom: 50px;
    //becasue the position is fixed, margins don't work on it. it's out of the flow.
    flex-direction: column;
    display:flex;
    border-bottom: 5px solid $twitter-them; 

}

.nav {
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    display: flex;
    padding: 0 30px;
}
.nav:first-child {
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}


//different color on focus.
.btn {
    background: transparent;
    -webkit-appearance: button;
    box-shadow: .15s ease-in-out;
    text-transform: uppercase;
}

.btn:hover {
    // background-color: rgb(29, 143, 214);
    opacity: .4;
    border: 2px solid white
}
.tweet-btn--primary{
    background-color: $main-theme;
    color: white;
    border: 1px solid $main-theme;

}
.tweet-btn--primary:focus {
    color: #FFF;

}
// .compose-fake-btn {
//     background: $main-theme;
//     border-radius: 50%;
// }
.form-toggle-label {
    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    padding: 0px 10px;
    background: $second-theme;
    border: 1px solid white;
    border-radius: 10px;
}
.form-toggle-label:hover {
    opacity: .5;
}

.form-toggle-label:after,
.form-toggle-label:before {
    width: 3.5em;
}

.form-toggle {
    display: none;
}

.form-toggle:checked ~ fieldset {
        display:flex;
    
}
.form-row {
    align-self: flex-end;
    margin-right: 100px;
    padding: 10px 50px;
}
.composer {
    align-self: flex-end;
    display: none;
    color: white;
}
.compose-form label {
    display: block;
    justify-content: flex-start;
}
    
.compose-form input {
    display: block;
}
.refresh-count {
    font-size: 18;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:1px solid white;
    background: tan;
    width: 20%;
    z-index: -10;
    padding-left: 20px;
    margin-left: -10px;
    color: white;
    align-self: center;
}

.refresh-count:after {
    content: ' chirps';
}

.refresh-btn {
    cursor: pointer;
    height: 2.7em;
    line-height: 2.7em;
    border-radius: 20px;
    flex-basis: 90%;
    background: $refresh-bar;
    color: $refresh-btn-font-color;
    font-size: 17px;
}
.refresh-bar {
    // background: transparent;
    margin-bottom: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;;
    padding: 0 10px;
}

.nav-bar {
    margin: 0 50px;
}
.nav-bar li {
    display: inline-block;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: white;
    margin: 0px 10px;
    padding: 0 50px;

}
.nav:last-child {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: white;
}
.tweet-btn {
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.filter-by {
    cursor: pointer;
}

.bingo {
    opacity: 1 1000;
}
@for $i from 1 to 7 {
    .nav-item-#{$i} {
        padding: 22px 30px;
        // flex: 2;
        color: white;

        font: 14px "Helvetica Nue", Helvetica, Arial, san-    serif;
    }
}


.grid {
    margin-top: ($nav-height+30);
    margin-bottom: 5px;
    // justify-content: center;
    margin-left: 80px;
    // margin-right: auto;
    overflow-y: scroll;
}

.row {
    justify-content: space-around;

    .col-1-3 {
        margin: 0 30px 10px 5px;
        width: 33%;
        order: 1;
    }
    .col-2-3 {
        width: 100%;
        margin: 0 50px 0 10px;

        order: 3;
        border: 1px solid $main-theme;
        border-radius: 10px;
    }
}

.grid,
.row {
    flex-direction: row; 
    display: flex;
    width: 90%;
  
}

//mobile device friendly only show tweets.
@media only screen and (max-device-width: 320px) {
    .col-1-3 div {
        display: none;
    }
    .row {
        flex-direction: column;

    }
}

.col-1-3-top {
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex: initial;
    flex-basis: 288px;
    min-width: 288px;
    // flex: 1 2;
}
.tweet-divider {
    background: $dark-theme;
    color: white;
    vertical-align: top;
}
.tweet-bar {
    flex-direction: column;
    width: 100%;
    // animation: 1s 5s;
    border: 2px solid #f5f8fa;

}

.tweet-text {
    /* border-top: 1px solid #f5f8fa; */
    /* background: #FFF; */
    /* display: list-item; */
    color: $off-black-theme;
    padding-left: 10px;
}

.tweet-date {
    padding: 10px;
    font-size: 15px;
}
//man another rabbit whole of functions in scss that can turn colors into different shades. no i refuse to do that.
.tweet-user {
    color: $dark-theme;
}
.tweet-user:before {
    content:'@';
    vertical-align: middle;
}


.tweet-container {
    border-bottom: 2px solid #e6ecf0;
    border-collapse: separate;
    padding-bottom: 10px;
    // list-style-type: none;
    padding: 0 10px 10px 10px;
    width: 100%;
}

.tweet-container:nth-child(even) {
    background: #f5f8fa;
}
// @for $j from 0 through 10 {
//     .tweet-container-#{$j} {
//         border-bottom: 2px solid #e6ecf0;
//         border-collapse: separate;
//         padding-bottom: 10px;
//         // list-style-type: none;
//         padding: 0 10px 10px 10px;
//         width: 100%;
//         @if $j%2 == 0 {
//             background: #f5f8fa;
//         }
//     }
// }

.logo {
    background-color: $dark-theme;
    color: white;
    font-size: 20px;
    height: 95px;
    position: relative;
    border-radius: 10px;
}
.half-circle {
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    z-index: 50;
    top: 67px;
    margin-left: 15px;
    width: 72px;
    height: 72px;
    // background-position-y: 30px;
    background: #00a1f8;
} 

.fa-camera {
    position: relative;
    left: 22px;
    top: 22px;
}
.lower-square {
    background:transparent;
    border: 1px solid black;
    position: relative;
}

.user-info {
    display: flex;
    margin-top: -5px;
    padding-top: 5px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 0 0 10px 10px;


    .twoof5,
    .threeof5 {
        margin: 0;
    }

    .threeof5 {
        font-weight: normal;
        color: #657786;
        font-size: 14px;
    }
}
// @for $j from 0 through 10 {
//     .tweet-container-#{$j} {
//         border-bottom: 2px solid #e6ecf0;
//         border-collapse: separate;
//         padding-bottom: 10px;
//         list-style-type: none;
//         padding-left: 10px;
//         @if $j%2 == 0 {
//             background-color: #f5f8fa;
//         } 
//         //use nthchild next time.
//     }
// }

