/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.debug-borders {
  border: 1px dashed purple;
}

body {
  font-size: 18px;
  background-color: #e5ecf0;
  font-family: 'Lato', sans-serif;
  line-height: 1.7em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav,
.parent-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.parent-nav {
  position: fixed;
  background-color: #29658a;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 100;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 5px solid #0597e6;
}

.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item-1 {
  padding: 0 30px;
  color: white;
  font: 16px "Helvetica Nue", Helvetica, Arial, san-    serif;
}

.nav-item-2 {
  padding: 0 30px;
  color: white;
  font: 16px "Helvetica Nue", Helvetica, Arial, san-    serif;
}

.nav-item-3 {
  padding: 0 30px;
  color: white;
  font: 16px "Helvetica Nue", Helvetica, Arial, san-    serif;
}

.nav-item-4 {
  padding: 0 30px;
  color: white;
  font: 16px "Helvetica Nue", Helvetica, Arial, san-    serif;
}

.nav-item-5 {
  padding: 0 30px;
  color: white;
  font: 16px "Helvetica Nue", Helvetica, Arial, san-    serif;
}

.nav-item-6 {
  padding: 0 30px;
  color: white;
  font: 16px "Helvetica Nue", Helvetica, Arial, san-    serif;
}

.nav-item-1:first-child {
  color: white;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

.nav-item2:second-child {
  margin-left: -25px;
}

.btn {
  background: transparent;
  -webkit-box-shadow: .15s ease-in-out;
          box-shadow: .15s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  padding: 0px 10px;
  background: #00a1f8;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

.btn:hover {
  opacity: .4;
  border: 2px solid white;
}

.tweet-btn--primary {
  background-color: #47aae7;
  color: white;
  border: 1px solid #47aae7;
}

.tweet-btn--primary:focus {
  color: #FFF;
}

.form-toggle-label {
  display: inline-block;
  cursor: pointer;
  font-size: 17px;
  padding: 0px 10px;
  background: #00a1f8;
  border: 1px solid white;
  border-radius: 10px;
}

.form-toggle-label:hover {
  opacity: .5;
}

.form-toggle-label:after,
.form-toggle-label:before {
  width: 3.5em;
}

.form-toggle {
  display: none;
}

.form-toggle:checked ~ .invisible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.invisible {
  display: none;
}

.form-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 30px 30px 0;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: top;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-1 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  padding-right: 100px;
}

.form-2 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 100px;
}

textarea {
  resize: none;
  overflow-y: auto;
  width: 100%;
}

.message-area {
  resize: none;
  display: none;
}

input {
  font-size: 20px;
}

.composer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.composer label {
  display: block;
}

.composer input {
  display: block;
}

.refresh-count:after {
  content: ' chirps';
}

.refresh-count {
  font-size: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid white;
  background: tan;
  z-index: -10;
  margin-left: -10px;
  color: white;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 2.7em;
  line-height: 2.7em;
  text-align: center;
}

.refresh-btn {
  cursor: pointer;
  height: 2.7em;
  line-height: 2.7em;
  border-top-right-radius: 10px;
  background: white;
  color: #ec7a7a;
  font-size: 16px;
  width: 75%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: center;
}

.refresh-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  vertical-align: top;
}

.nav-bar {
  margin: 0 25px;
  display: inline-block;
  font-size: 2em;
}

.nav-bar li {
  display: inline-block;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: white;
  margin: 0px 10px;
  padding: 0 50px;
}

.nav:last-child {
  margin-left: 0;
}

a:hover {
  -webkit-text-stroke: 1px #47aae7;
}

a {
  text-decoration: none;
  color: white;
}

.tweet-btn {
  border-radius: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.filter-by {
  cursor: pointer;
}

.bingo {
  opacity: 1 1000;
}

.grid {
  margin-top: 120px;
  margin-bottom: 5px;
  margin-left: 80px;
  overflow-y: scroll;
}

.row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row .col-1-3 {
  margin: 0 30px 10px 5px;
  width: 33%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.row .col-2-3 {
  width: 100%;
  margin: 0 50px 0 10px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  border: 1px solid #47aae7;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid,
.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

@media only screen and (max-device-width: 320px) {
  .col-1-3 div {
    display: none;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.col-1-3-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  -ms-flex-preferred-size: 288px;
      flex-basis: 288px;
  min-width: 288px;
}

.tweet-divider {
  background: #29658a;
  color: white;
  vertical-align: top;
}

.tweet-bar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 2px solid #f5f8fa;
}

.tweet-text {
  /* border-top: 1px solid #f5f8fa; */
  /* background: #FFF; */
  /* display: list-item; */
  color: #14171a;
  padding-left: 10px;
}

.tweet-date {
  padding: 10px;
  font-size: 15px;
}

.tweet-user {
  color: #29658a;
}

.tweet-user:before {
  content: '@';
  vertical-align: middle;
}

.tweet-container {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  padding: 0 10px 10px 10px;
  width: 100%;
}

.tweet-container:nth-child(even) {
  background: #f5f8fa;
}

.logo {
  background-color: #29658a;
  color: white;
  font-size: 20px;
  height: 95px;
  position: relative;
  border-radius: 10px;
}

.half-circle {
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  z-index: 50;
  top: 67px;
  margin-left: 15px;
  width: 72px;
  height: 72px;
  background: #00a1f8;
}

.fa-camera {
  position: relative;
  left: 22px;
  top: 22px;
}

.lower-square {
  background: transparent;
  border: 1px solid black;
  position: relative;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
  padding-top: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 0 0 10px 10px;
}

.user-info .twoof5,
.user-info .threeof5 {
  margin: 0;
}

.user-info .threeof5 {
  font-weight: normal;
  color: #657786;
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */