body {
  background: #e5ecf0;
}

.col-1-3 {
  width: 288px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-2-3 {
  width: 50%;
  height: auto;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.row {
  width: 100%;
}

.logo {
  background: #00a1f8;
  color: white;
  padding: 12px auto;
  font-size: 20px;
  height: 95px;
}

.half-circle {
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  z-index: 100;
  top: 97px;
  margin-left: 10px;
  width: 72px;
  height: 72px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-position-y: 30px;
  background: #00a1f8;
}

.user-info {
  background: white;
  height: 113px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.flex-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 12px;
}

.flex-5 .twoof5,
.flex-5 .threeof5 {
  margin: 0 15px 0 10px;
}

.flex-5 .threeof5 {
  font-weight: normal;
  color: #657786;
  font-size: 14px;
}

.flex-5 li {
  padding: 0 auto;
  list-style-type: none;
}

.tweet-bar {
  /* border: 1px solid #f5f8fa; */
  /* background-color: #f5f8fa; on hover*/
  background: #FFF;
  padding-left: 0;
}

.list-bar,
.trend-bar,
.tweet-bar {
  list-style-type: none;
  vertical-align: top;
}

.tweet-text {
  /* border-top: 1px solid #f5f8fa; */
  /* background: #FFF; */
  /* display: list-item; */
  color: blue;
}

.info-box {
  background: #FFF;
}

.content {
  margin-left: 50px;
}

.tweet-container {
  border-top: 1px solid #f5f8fa;
  background: #FFF;
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 22px;
}

.tweet-container-1 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.tweet-container-2 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.tweet-container-3 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.tweet-container-4 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.tweet-container-5 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.tweet-container-6 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.tweet-container-7 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.tweet-container-8 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.tweet-container-9 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.tweet-container-10 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.trend-container-1 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.trend-container-2 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.trend-container-3 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.trend-container-4 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.trend-container-5 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.trend-container-6 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.trend-container-7 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.trend-container-8 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.trend-container-9 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.trend-container-10 {
  border-bottom: 2px solid #e6ecf0;
  border-collapse: separate;
  padding-bottom: 10px;
  list-style-type: none;
}

.logo {
  background: #1DA1F2;
}
/*# sourceMappingURL=main.css.map */